
div .tripCard-wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 3em 0;
    text-align: center;
    border-radius: 1em;
}

div .tripCard-wrapper p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div .welcome {
    padding: 10px;
    box-shadow: 0 5px 10px 5px #cecece;
}

.tripCard{
    padding: 10px;
    box-shadow: 0 5px 10px 5px #cecece;
    font: 30px/1.5 'Cormorant', cursive;
}

img {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}
