nav img {
    max-width: 80px;
    height: auto;
    margin: 0 auto;
}
nav.navbar-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #D7A070;
}
.nav-links, h2{
    margin: 5px;
}
.nav-links a {
    /*display: flex;*/
    border-radius: 0.5em;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
    width: 15%;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid #D7A070;
    font-size: 35px;

}

.nav-links a:hover {
    color: #D7A070;
    background-color: white;
}