main {
    display: flex;
    padding: 0 0.5em 2em 0.5em;
    flex-direction: column;
    justify-content: center;
}

.content {
    font: 22px 'Cormorant', cursive;
}

.content button {
    font: 40px/1.2 'Tangerine', cursive;
}

.error {
    color: red;
}


.form-wrapper {
    padding: 1em 0 3em 0;
    margin: 0 auto;
    text-align: center;
}

.form-wrapper form {
    margin: 0 auto;


}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}

.form-group label {
    padding-right: 1em;
    text-align: left;
}

.form-wrapper button, input, textarea {
    padding: 10px;
    outline: none;
    border-radius: 0.3em;
    border: 1px solid #D7A070;
    height: 50px;
}
.form-wrapper textarea{
    height: 200px;
}

.form-wrapper button {
    padding: 0 1em;
    margin: 0 auto;
    background-color: #D7A070;
    color: black;
    font-family: 'Tangerine', cursive;
    border: 2px solid #D7A070;
}

.form-wrapper button:hover {
    background-color: white;
    color: #D7A070;
    border: 2px solid #D7A070;
}


@media (min-width: 700px) {
    .content {
        font-size: 30px
    }

    .form-wrapper {
        width: 50%;

    }
}

@media ( min-width: 1300px) {
    main {
        width: 95%;
        margin: 0 auto;
    }

    .content {
        font-size: 35px
    }
}

@media ( min-width: 1600px) {
    main {
        margin: 0 auto;
        width: 80%;
    }
}

@media ( min-width: 1900px) {
    main {
        margin: 0 auto;
        width: 60%;
    }
}