@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,600&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&family=Work+Sans:wght@600&display=swap');
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: 40px/1.2 'Tangerine', cursive;
}

body{
    font: inherit;
    background-color: #eee0d6;
}

h2{
    margin-top: 2em;
    text-align: center;
}