.destinations{
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 1024px) {
    .destinations{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .destinationCard {
        max-width:40%;
    }
}

@media ( min-width: 1600px) {
    .destinationCard {
        max-width:30%;
    }
}
